.wrap {
    margin: auto;
    max-width: 960px;
    padding: 0 15px;
}
nav {
    margin-top: 1em;
}
.no-underline a {
    text-decoration: none;
}
footer {
    color: #999;
    font-size: 12px !important;
}
